.AddDialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.AddDialog-inputWrapper {
    flex-grow: 1;
    display: flex;
}

.AddDialog-shown {
    transition: .5s;
    margin-left: 0;
}

.AddDialog-hidden {
    transition: .5s;
    margin-left: -100%;
}

.AddDialog> input {
    flex-grow: 1;
    transition: .2s;
}

.AddDialog button {
    transition: .2s;
    font-size: 36px;
    line-height: 18px;
    vertical-align: middle;
}

.AddDialog button:first-child {
    border-bottom-left-radius: 0;
}

.AddDialog button:last-child {
    border-bottom-right-radius: 0;
}